@import '../../utilities/mixins';

.education {
    @include displayContent(column-reverse, flex-start, flex-start);
    width: 100%;
}

.info {
    @include displayContent(column, flex-start, center);
    width: 100%; 
}

.title {
    list-style: none;
    font-size: 1.7rem;
    font-weight: 600;
}

.text {
    font-size: 1.5rem;
}