@import "../../utilities/mixins";
@import "../../utilities/variables";

.personalInfo {
  @include displayContent(row, center, space-evenly);
  width: 80%;
  margin-top: 20px;
  @include infoBox;
  padding: 2rem 0;
}

.main {
  @include displayContent(column, center, space-evenly);
}

.photo {
  width: 200px;
  border-radius: 300px;
  border: 3px solid $or;
}

.name {
  border-bottom: 3px solid $or;
  text-transform: uppercase;
}

.card {
  @include displayContent(column, flex-start, space-evenly);
  height: 100%;
  list-style: none;
  gap: 1rem;
  li {
    font-size: 1.4rem;
  }
}

.gitbox {
  @include displayContent(row, flex-start, center);
  font-size: 1.4rem;
  gap: 1rem;
}

.gitlogo {
  width: 1.5rem;
}
