@mixin displayContent($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin infoBox() {
  background-color: $lgr;
  border-radius: 50px;
}
