@import "../../utilities/mixins";
@import "../../utilities/variables";

.more {
  @include displayContent(column, center, center);
  width: 80%;
  gap: 4rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

.box {
  @include displayContent(column, center, center);
  @include infoBox;
  width: 70%;
  padding-right: 2%;
}

.info {
  width: 100%;
  margin-left: 4rem;
  list-style: none;
  gap: 1rem;
}

.languages {
  @include displayContent(row, center, flex-start);
  width: 100%;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title {
  list-style: none;
  font-size: 1.7rem;
  font-weight: 600;
}

.text {
  font-size: 1.5rem;
}
