@import "../../utilities/mixins";
@import "../../utilities/variables";

.about {
  @include displayContent(column, center, center);
  background-color: $lgr;
  width: 80%;
  border-radius: 50px;
  padding-left: 2rem;
}

.info {
  @include displayContent(column, flex-start, center);
  width: 90%;
}

.text {
  font-size: 1.2rem;
  max-width: 90%;
}

.title {
  list-style: none;
  font-size: 1.7rem;
  font-weight: 600;
}

.text {
  list-style: circle;
  font-size: 1.5rem;
}