@import './utilities/mixins';
@import './utilities/variables';

#root {
    width: 100%;
    @include displayContent(column, center, center);
}

.App {
    @include displayContent(column, center, center);
    background-color: $lor;
    gap: 4rem;
    width: 80%;

    a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
    
}

.career-nav {
    @include displayContent(row, center, center);
    width: 75%;
    gap: 1rem;
}

.career-btn {
    padding: 0.7rem;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: $lgr;
    font-family: 'Krub', sans-serif;
    font-weight: 700;
    transition: 0.5s;
    cursor: pointer;
}

.career-btn:focus {
    border: none;
    outline: none;
    background-color: $or;
    color: $wht;
}

.career-btn:hover {
    border: none;
    outline: none;
    background-color: $or;
    color: $wht;
}

.career-info {
    @include displayContent(column, center, center);
    @include infoBox;
    width: 80%;
    
    padding-bottom: 2rem;
}


