@import './utilities/mixins';
@import './utilities/variables';

@import './components/About/About.scss';
@import './components/PersonalInfo/PersonalInfo.scss';
@import './components/Education/Education.scss';
@import './components/Experience/Experience.scss';
@import './components/More/More.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Krub', sans-serif;
  @include displayContent(column, center, center);
  background-color: $lor ;
  width: 100%;
}



